# Fake News Detection Project ->

Data Set Link -> https://www.kaggle.com/datasets/bhavikjikadara/fake-news-detection
(Kaggle.com)

In [6]:
import numpy as np
import pandas as pd

In [7]:
true=pd.read_csv('true.csv')

In [8]:
fake=pd.read_csv('fake.csv')

In [9]:
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [10]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [11]:
true['label']=1       #True DataSet
fake['label']=0       #Fake DataSet

In [12]:
true.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

# Concatinate/merge both the table row wise

In [13]:
news = pd.concat([fake, true],axis=0  # Now the true and the fake statements will come todether for easier recognition of fake and true news

In [14]:
news.tail()

,title,text,subject,date,label
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [15]:
news.isnull().sum()

title      0
text       0
subject    0
date       0
label      0
dtype: int64

# Feature Selection

In [16]:
news=news.drop(['title','subject','date'],axis=1)  # Deleting the 'title', 'subject' and date column because we don't need this

In [17]:
news.head()

                                                text  label
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0

In [18]:
news=news.sample(frac=1)                       #Reshuffling the data

In [19]:
news.head()

                                                    text  label
22803  Whitney Webb Mint PressBush s  Axis of Evil  s...      0
2317   WASHINGTON (Reuters) - The U.S. Senate on Thur...      1
17211  BAGHDAD/KIRKUK (Reuters) - The Baghdad governm...      1
16916  BRUSSELS (Reuters) - Spanish Prime Minister Ma...      1
1814   WASHINGTON (Reuters) - President Donald Trump ...      1

In [20]:
news.reset_index(inplace=True)
news.head()

   index                                               text  label
0  22803  Whitney Webb Mint PressBush s  Axis of Evil  s...      0
1   2317  WASHINGTON (Reuters) - The U.S. Senate on Thur...      1
2  17211  BAGHDAD/KIRKUK (Reuters) - The Baghdad governm...      1
3  16916  BRUSSELS (Reuters) - Spanish Prime Minister Ma...      1
4   1814  WASHINGTON (Reuters) - President Donald Trump ...      1

In [21]:
news.drop(['index'],axis=1, inplace=True)  #Removing the index col

In [22]:
news.head()

                                                text  label
0  Whitney Webb Mint PressBush s  Axis of Evil  s...      0
1  WASHINGTON (Reuters) - The U.S. Senate on Thur...      1
2  BAGHDAD/KIRKUK (Reuters) - The Baghdad governm...      1
3  BRUSSELS (Reuters) - Spanish Prime Minister Ma...      1
4  WASHINGTON (Reuters) - President Donald Trump ...      1

# Data Cleaning 
Making data more readable and clear to the machine

In [23]:
import re                         #Regular Expression Module

In [24]:
def wordopt(text):
    #Convert into lowercase
    text = text.lower()

    # Remove URLs
    text = re.sub(r'https?://\S+|www\.\S+','',text)

    # Remove HTML tags
    text=re.sub(r'<.*?>', '',text)

    #Remove punctuation
    text=re.sub(r'[^\w\s]', '', text)

    #Remove digits
    text=re.sub(r'\d', '',text)

    #Remove newline characters
    text=re.sub(r'\n', ' ', text)

    return text

In [26]:
news['text'] = news['text'].apply(wordopt)

In [27]:
news['text']    #all the words are in running letters with numbers , digits etc

0        whitney webb mint pressbush s  axis of evil  s...
1        washington reuters  the us senate on thursday ...
2        baghdadkirkuk reuters  the baghdad government ...
3        brussels reuters  spanish prime minister maria...
4        washington reuters  president donald trump sig...
                               ...
44893    athens reuters  greece s top court cleared the...
44894    moscow reuters  russia hopes that all syrian o...
44895    juba reuters  a south sudanese rebel group on ...
44896    new york reuters  us secretary of state rex ti...
44897    we already knew vice president mike pence does...
Name: text, Length: 44898, dtype: object

In [28]:
x = news['text']
y = news['label']

In [29]:
x

0        whitney webb mint pressbush s  axis of evil  s...
1        washington reuters  the us senate on thursday ...
2        baghdadkirkuk reuters  the baghdad government ...
3        brussels reuters  spanish prime minister maria...
4        washington reuters  president donald trump sig...
                               ...
44893    athens reuters  greece s top court cleared the...
44894    moscow reuters  russia hopes that all syrian o...
44895    juba reuters  a south sudanese rebel group on ...
44896    new york reuters  us secretary of state rex ti...
44897    we already knew vice president mike pence does...
Name: text, Length: 44898, dtype: object

In [30]:
y

0        0
1        1
2        1
3        1
4        1
        ..
44893    1
44894    1
44895    1
44896    1
44897    0
Name: label, Length: 44898, dtype: int64

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3)

In [35]:
x_train.shape

(31428,)

In [36]:
x_test.shape

(13470,)

# Feature Extraction

In [39]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [40]:
vectorization = TfidfVectorizer()

In [42]:
xv_train = vectorization.fit_transform(x_train)

In [43]:
xv_test = vectorization.transform(x_test)

In [44]:
xv_train

<31428x175220 sparse matrix of type '<class 'numpy.float64'>'
	with 6455368 stored elements in Compressed Sparse Row format>

In [48]:
xv_test

<13470x175220 sparse matrix of type '<class 'numpy.float64'>'
	with 2725291 stored elements in Compressed Sparse Row format>