# Fake News Detection Project ->

Data Set Link -> https://www.kaggle.com/datasets/bhavikjikadara/fake-news-detection
(Kaggle.com)

In [1]:
import numpy as np
import pandas as pd

In [2]:
true=pd.read_csv('true.csv')

In [3]:
fake=pd.read_csv('fake.csv')

In [4]:
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [5]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [6]:
true['label']=1
fake['label']=0

In [7]:
true.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [8]:
news = pd.concat([fake, true],axis=0)

In [9]:
news.tail()

,title,text,subject,date,label
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [10]:
news.isnull().sum()

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [11]:
news=news.drop(['title','subject','date'],axis=1)

In [12]:
news.head()

                                                text  label
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0

In [13]:
news=news.sample(frac=1)                       #Reshuffling the data

In [14]:
news.head()

                                                    text  label
12709  JERUSALEM/GAZA (Reuters) - The Islamist group ...      1
5154   WASHINGTON (Reuters) - The U.S. Senate voted o...      1
9936   Eric Bolling tweeted out a heartfelt statement...      0
20182  Hillary s lawless, anti-American supporters we...      0
14829  A shameless promotion of amnesty by our Feds. ...      0

In [15]:
news.reset_index(inplace=True)
news.head()

   index                                               text  label
0  12709  JERUSALEM/GAZA (Reuters) - The Islamist group ...      1
1   5154  WASHINGTON (Reuters) - The U.S. Senate voted o...      1
2   9936  Eric Bolling tweeted out a heartfelt statement...      0
3  20182  Hillary s lawless, anti-American supporters we...      0
4  14829  A shameless promotion of amnesty by our Feds. ...      0

In [16]:
news.drop(['index'],axis=1, inplace=True)

In [17]:
news.head()

                                                text  label
0  JERUSALEM/GAZA (Reuters) - The Islamist group ...      1
1  WASHINGTON (Reuters) - The U.S. Senate voted o...      1
2  Eric Bolling tweeted out a heartfelt statement...      0
3  Hillary s lawless, anti-American supporters we...      0
4  A shameless promotion of amnesty by our Feds. ...      0

# Feature Extraction

In [18]:
import re                         #Regular Expression Module

In [ ]:
def wordopt(text):
    #Convert into lowercase
    text=text.lower()

    # Remove URLs
    text=re.sub(r'https?://\S+|www\.\S+','',text)